:root {
    --primary-color-dark: #1663a2;
    --primary-color-light: #2094f3;
    --secondary-color: #36e9ae;
    --letter-color-dark: #2c2d3c;
    --letter-color-light: white;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Dosis, arial, helvetica;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Dosis';
    src: url('./assets/fonts/Dosis-Regular.ttf') format('truetype');
}

/* ================================================= */

header {
    display: flex;
    align-items: center;
    padding: 0 0 0 10%;
    height: 75vh;
    font-size: 1.6rem;
}

.fname, .lname {
    white-space: nowrap;
}

@media only screen 
and (max-width: 860px) {
    header {
        justify-content: center;
        padding: 0 45px;
        font-size: 1.1rem;
        text-align: center;
    }
}

@media only screen 
and (max-width: 610px) {
    header {
        font-size: 1rem;
    }
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


#arrow-down {
    width: 35px;
}

.waves {
    aspect-ratio: 960/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/layered-waves.svg');
}

/* ------------------------------------------------- */

.about-me {
    display: flex;
    justify-content: center;
    padding: 100px 0 0 0;
    height: 100vh;
    background-color: var(--primary-color-light);
    color: var(--letter-color-light);
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    max-width: 650px;
    text-align: center;
}

.about-me h2 {
    margin: 30px 0;
    font-size: 3.4rem;
}

.about-me p {
    font-size: 1.4rem;
}

@media only screen 
and (max-width: 480px) {
    .about-me h2 {
        font-size: 2.5rem;
    }

    .about-me p {
        font-size: 1.1rem;
    }
}

.waves2 {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url('./assets/waves.svg'); */
    background-image: url('./assets/wave.svg');
}

/* ------------------------------------------------- */

.projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    color: var(--letter-color-dark);
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h2 {
    margin-bottom: 100px;
    font-size: 3.4rem;
}

.projects h3 {
    margin: 40px 0;
    font-size: 2rem;
    white-space: nowrap;
}

.projects p {
    margin: 20px 0;
    font-size: 1.2rem;
}

.projects article {
    display: grid; 
    justify-items: center;
    align-items: center;
    gap: 100px;
    grid-template-columns: 0.9fr 1.1fr; 
    grid-template-rows: 1fr;
}

.project-text {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 1.8fr 1fr;
    grid-template-areas:
        "project-text-title project-text-title"
        "project-text-content project-text-content"
        "project-text-button-1 project-text-button-2"; 
    max-width: 450px;
}

.project-text-title { grid-area: project-text-title; }
.project-text-content { grid-area: project-text-content; }

.project-text-buttons {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.projects img {
    width: 540px;
    height: 320px;
    box-shadow: 0 0 10px #46464699;
}

.projects a {
    padding: 10px;
    border: 1px solid var(--letter-color-dark);
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: bold;
    color: var(--letter-color-dark);
    white-space: nowrap;
    background: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.projects a:hover {
    background: var(--letter-color-dark);
    border: 1px solid var(--letter-color-dark);
    color: var(--letter-color-light);
    border-radius: 30px;
}

@media only screen 
and (max-width: 1225px) {
    .projects article {
        align-items: unset;
        justify-content: unset;
        gap: 25px;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr;
    }

    .project-text {
        max-width: 600px;
    }
}

@media only screen 
and (max-width: 650px) {
    .projects article {
        margin: 0 50px;
    }

    .projects h2 {
        font-size: 2.5rem;
    }

    .projects h3 {
        font-size: 1.5rem;
    }

    .projects p {
        font-size: 1.1rem;
    }

    .projects img {
        width: 100%;
        height: auto;
    }
}

/* ------------------------------------------------- */

.fname, .lname {
    color: var(--secondary-color);
}

.fname > .letter, .lname > .letter {
    display: inline-block;
    transition: transform 0.4s ease;
}

.fname:hover > .letter:nth-child(1) {
    transform: translate(-20%, 40%) rotate(8deg);
}
.fname:hover > .letter:nth-child(2) {
    transform: translate(-40%, -30%) rotate(4deg);
}
.fname:hover > .letter:nth-child(3) {
    transform: translate(-10%, 40%) rotate(-6deg);
}
.fname:hover > .letter:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
}
.fname:hover > .letter:nth-child(5) {
    transform: translate(0%, -40%) rotate(5deg);
}
.fname:hover > .letter:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
}

.lname:hover > .letter:nth-child(1) {
    transform: translate(0%, -30%) rotate(5deg);
}
.lname:hover > .letter:nth-child(2) {
    transform: translate(0%, -40%) rotate(5deg);
}
.lname:hover > .letter:nth-child(3) {
    transform: translate(-80%, 60%) rotate(5deg);
}
.lname:hover > .letter:nth-child(4) {
    transform: translate(-40%, -30%) rotate(4deg);
}
.lname:hover > .letter:nth-child(5) {
    transform: translate(0%, -40%) rotate(5deg);
}
.lname:hover > .letter:nth-child(6) {
    transform: translate(-80%, 60%) rotate(5deg);
}
.lname:hover > .letter:nth-child(7) {
    transform: translate(0%, 20%) rotate(-3deg);
}
.lname:hover > .letter:nth-child(8) {
    transform: translate(-80%, 90%) rotate(5deg);
}

/* ------------------------------------------------- */